{% comment %}
    This is the plain text content of the email.
    It should be kept simple and clear.
    Django expects this file to exist for password reset emails.
{% endcomment %}

To initiate the password reset process for your Nigerian Youth Forum account,
click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above does not work, please copy and paste the URL into your web browser.

If you didn't request a password reset, you can safely ignore this email.

Thanks,
The Unified Nigerian Youth Forum Team